body, button {
  font-family: 'League Spartan', sans-serif;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0px;
  position: absolute;
}

.masterDiv {
  background-color: #E6E6E6;
  width: 375px;
  height: 667px;
  padding: 20px;
}

#displayDiv {
  background-color: #EEEEEE;
  border-radius: 10px;
  font-size: 2rem;
  line-height: 75px;
  height: 75px;
  align-items: center;
  margin: 20px 0;
  text-align: right;
  padding-right: 15px;
}

#inputDiv {
  background-color: #D3CDCD;
  padding: 15px;
  border-radius: 10px;
}

button {
  color: #393833;
  background-color: #E5E4E0;
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 2rem;
  align-items: center;
  border: none;
  box-shadow: 0 5px #A79D93;
  border-radius: 10px;
  text-align: center;
  padding: 0; //necessary so that ios doesnt default to 1em
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.delete {
  color: white;
  background-color: #388187;
  box-shadow: 0 5px #295C60;
}

.reset {
  color: white;
  background-color: #388187;
  width: 155px;
  box-shadow: 0 5px #295C60;
}

.equals {
  color: white;
  background-color: #C85401;
  width: 155px;
  box-shadow: 0 5px #873B01;
}


/* theme styling */
.theme {
width: 50%;
margin-left: auto;
margin-right: 0;
margin-top: 15px;
}


label {
position: absolute;
top: 68px;
}


/* slider styling */

.input-range {

  width: 70px;
  -webkit-appearance: none;
  background-color: #D3CDCD;
  height: 2rem;
  border-radius: 15px;
  padding-left: 5px;
  padding-right: 5px;

}



span {
  word-spacing: 15px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;

  background-color: #C75403;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

.range-slider {
  margin-left: auto;
margin-right: 0;


/* background-color: red; */
display: flex;
flex-direction: column;
align-items: center;
width: max-content;
}
